.divWeaponDisplay{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;

}

.divWeaponDisplay>hr{
  width: 100%;
}
.divWeaponDisplay>p{
  margin: 5px 0 5px 0;
}
.divWeaponDisplay>h2{
  margin: 8px 0 5px 0;
}

.divWeaponDisplayHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
  width: 100%;
}
.divWeaponDisplayHeader>h2{
  margin: 5px 0 3px 0;
}
.divWeaponDisplayHeader>div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.EditLink{
  color: rgb(199, 165, 16);
  border: solid rgb(199, 165, 16) 1px;
  border-radius: 5px;
  padding: 4px;
}
.SuprLink{
  color: rgb(168, 17, 17);
  border: solid rgb(168, 17, 17) 1px;
  border-radius: 5px;
  padding: 4px;
}

.bludgeoning,.piercing,.slashing{
  border: solid rgb(121, 94, 94) 2px;
}
.cold{
  border: solid rgb(12, 108, 153) 2px;
}
.fire{
  border: solid rgb(145, 21, 21) 2px;
}
.lightning{
  border: solid rgb(155, 179, 20) 2px;
}
.necrotic{
  border: solid rgb(63, 32, 63) 2px;
}
.acid{
  border: solid rgb(19, 155, 19) 2px;
}
.poison{
  border: solid rgb(35, 66, 35) 2px;
}
.psychic{
  border: solid rgb(161, 31, 70) 2px;
}
.force{
  border: solid rgb(117, 41, 117) 2px;
}
.radiant{
  border: solid rgb(196, 196, 133) 2px;
}
