.containerWeapons{
  background-color: black;
  width: 50%;
  margin: 25px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  color: white;
  padding: 15px;
}
.containerWeapons>hr{
  width: 100%;
}
.headerContainerWeapon{
  display: flex;
  flex-direction: row;
  justify-content: space-between  ;
  align-items: center;
}
.headerContainerWeapon>h2{
  margin: 5px 0 3px 0;
}
.LinkWeapons{
  text-decoration: none;
  color: white;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid white 1px;
  padding: 4px;
  border-radius: 5px;
}

.FormWeapon{
  background-color: black;
  width: 50%;
  margin: 25px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  color: white;
  padding: 15px;
}
.FormWeapon>hr{
  width: 100%;
}

.FormWeaponButtonContainer{
  display: flex;
  flex-direction: row-reverse;
}

.FormAdd,.FormEdit,.FormSupr{
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}
.FormAdd{
  background-color: rgb(11, 109, 32);
  color: white;
  padding: 3px;
}
.FormEdit{
  background-color: rgb(179, 125, 10);
  color: white;
}
.FormSupr{
  background-color: rgb(167, 12, 12);
  color: white;
}