.FormCharacters{
  width: 80%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  gap: 10px;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  color: white;
}

.FormCharactersHeader{
  grid-column: 1 / 3;
}
.FormCharactersDivImg{
  margin-top: 35px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.FormCharactersDivImg>img{
  height: inherit;
  border-radius: 100%;
  object-fit: cover;
  border: solid rgb(206, 186, 6) 1px;
  padding: 8px;
}
.FormCharactersDivInputs{
  display: flex;
  flex-direction: column;
}
.FormCharactersDivInputs>input,.FormCharactersDivInputs>select{
  margin: 5px 0 10px 0;
  height: 35px;
  border-radius: 5px;
  border: none;
}

.FormCharacterStats{
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.FormCharacterStatsCounter{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.FormCharacterWeapons{
  grid-column: 1/3;
}

.characterSelectWeaponContainer{
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.characterSelectWeapon{
  width: 70%;
  height: 45px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.characterSelectWeapon>optgroup{
  font-family: sans-serif;
}

.characterSelectWeaponContainer>button{
  background-color: transparent;
  border: solid red 1px;
  border-radius: 5px;
  margin-left: 25px;
  width: 45px;
}
.characterSelectWeaponContainer>button:hover{
  background-color: rgba(148, 27, 27, 0.733);
}

.divBtnAddWeaponSelect{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100%;
}
.divBtnAddWeaponSelect>button{
  background-color: transparent;
  border: solid green 1px;
  color: green;
  height: 55px;
  width: 180px;
  border-radius: 10px;
  font-size: 25px;
  padding: 8px;
}
.divBtnAddWeaponSelect>button:hover{
  background-color: green;
  color: white;
}

.hrformCharactere{
  grid-column: 1/3;
  width: 100%;
  border-top: 1px;
}

.sendBtnContainer{
  grid-column: 1/3;
  display: flex;
  justify-content: center;
}

.sendBtnContainer>button{
  width: 25%;
  height: 50px;
  border:solid 1px rgb(41, 177, 41) ;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(41, 177, 41);
  font-size: 25px;
}
.sendBtnContainer>button:hover{
  background-color:rgb(41, 177, 41) ;
  color: var(--white--);
}