.CharaClassContainer{
  background-color: black;
  width: 50%;
  margin: 25px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  color: white;
  padding: 15px;
}
.CharaClassContainer>hr{
  width: 100%;
}
.CharaClassContainerHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between  ;
  align-items: center;
}
.CharaClassContainerHeader>h2{
  margin: 5px 0 3px 0;
}
.LinkCharaClasses{
  text-decoration: none;
  color: white;
  margin-right: 10px;
}


.LinkCharaClasses{
  text-decoration: none;
  color: white;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid white 1px;
  padding: 4px;
  border-radius: 5px;
}