.CharacterContainer{
  background-color: black;
  width: 50%;
  margin: 25px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  color: white;
  padding: 15px;
}
.CharacterContainer>hr{
  width: 100%;
}
.CharacterContainerHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between  ;
  align-items: center;
}
.CharacterContainerHeader>h2{
  margin: 5px 0 3px 0;
}
.LinkCharacters{
  text-decoration: none;
  color: white;
  margin-right: 10px;
}